library/.idea/
library/target/
library/cmake-build-debug/
library/cmake-build-release/
library/build.properties
library/pom.xml.releaseBackup
library/release.properties
*.pyc
library/build-scripts/.idea/
qemu-test/.settings/language.settings.xml
qemu-test/.settings/org.eclipse.cdt.codan.core.prefs
